<template>
  <q-layout view="lHh Lpr lFf">
    <q-drawer
      v-if="$q.screen.lt.md"
      v-model="drawer"
      :width="200"
      :breakpoint="500"
      overlay
      bordered
      content-class="bg-grey-3"
    >
      <q-btn
        v-if="!$q.screen.gt.sm"
        icon="menu"
        color="orange"
        @click="drawer = !drawer"
        class="full-width"
      ></q-btn>
      <q-separator inset />
      <q-scroll-area class="full-width" style="height: calc(100% - 40px)">
        <q-list bordered padding class="rounded-borders text-primary">
          <q-item>
            <q-item-section>منو</q-item-section>
          </q-item>
          <q-separator spaced />
          <q-item
            clickable
            v-ripple
            :active="link === 'kharid'"
            @click="link = 'kharid'"
            active-class="my-menu-link"
          >
            <q-item-section avatar>
              <q-icon name="mdi-car" />
            </q-item-section>
            <q-item-section>
              خرید خودرو
            </q-item-section>
          </q-item>

          <q-item
            clickable
            v-ripple
            :active="link === 'namayandegan'"
            @click="link = 'namayandegan'"
            active-class="my-menu-link"
          >
            <q-item-section avatar>
              <q-icon name="mdi-store" />
            </q-item-section>

            <q-item-section>نمایندگان</q-item-section>
          </q-item>

          <q-item
            clickable
            v-ripple
            :active="link === 'savabegh'"
            @click="link = 'savabegh'"
            active-class="my-menu-link"
          >
            <q-item-section avatar>
              <q-icon name="mdi-car-info" />
            </q-item-section>

            <q-item-section>سوابق خرید</q-item-section>
          </q-item>

          <q-item
            clickable
            v-ripple
            :active="link === 'vorod'"
            @click="link = 'vorod'"
            active-class="my-menu-link"
          >
            <q-item-section avatar>
              <q-icon name="mdi-login-variant" />
            </q-item-section>

            <q-item-section>ورود/ثبت نام</q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <q-page>
        <div class="fit relative-position row bg-grey-3">
          <div
            class="full-width row absolute-top text-bold z-top items-center "
            :class="$q.screen.gt.sm ? 'justify-center' : 'justify-start'"
            style="height: 48px;"
            v-if="$q.screen.gt.sm"
          >
            <template>
              <div class="col-xs-12 col-md-8">
                <q-btn
                  class="q-mt-md q-mr-sm text-grey-5 text-bold text-subtitle1 "
                  >خرید خودرو</q-btn
                >
                <q-btn
                  class="q-mt-md q-mr-sm text-bold  text-grey-5 text-subtitle1"
                  >نمایندگان</q-btn
                >
                <q-btn
                  class="q-mt-md q-mr-sm  text-bold text-grey-5 text-subtitle1"
                  >سوابق خرید</q-btn
                >
                <q-btn
                  class="q-mt-md q-mr-sm text-bold  text-grey-5 text-subtitle1"
                  >ورود/ثبت نام
                </q-btn>
              </div>
            </template>
          </div>

          <template>
            <div class="full-width row relative-position relative-position ">
              <q-btn
                v-if="!$q.screen.gt.sm"
                icon="menu"
                color="orange"
                @click="drawer = !drawer"
                style="z-index:1"
                class="absolute-top-left q-ml-lg q-mt-md"
              ></q-btn>
              <q-img
                class="full-width"
                src="~assets/images/1.jpg"
                style="height:45vh"
                spinner-color="white"
              />
              <div
                class="full-width absolute-center row items-center justify-center"
              >
                <div class="col-8">
                  <div class="row full-width">
                    <div
                      class="col-xs-11 col-md-4 bg-orange q-pa-md text-white rounded-borders text-bold "
                      :class="$q.screen.gt.sm ? '' : 'q-mt-xl'"
                    >
                      بدین وسیله به اطلاع متقاضیان محترم میرساند،پیش فروش جدید
                      مشارکت در تولید محصولات گروه سایپا تا روز یکشنبه 29/4/99
                      انجام خواهد شد.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <template>
            <div
              class="full-width row items-center justify-center q-mb-lg q-pl-xl"
            >
              <div
                class="column col-xs-12 col-md-10 col-lg-8 items-end justify-end q-px-md relative-position"
              >
                <div
                  :style="
                    $q.screen.gt.sm
                      ? 'position:absolute; top:-30px; left:0px;'
                      : 'width:100%;'
                  "
                >
                  <q-tabs
                    active-color="primary"
                    active-bg-color="orange"
                    v-model="tab"
                    narrow-indicator
                    dense
                    align="justify"
                    :indicator-color="$q.screen.gt.sm ? 'primary' : 'orange'"
                    :vertical="!$q.screen.gt.sm"
                  >
                    <q-tab
                      class="shadow-5 bg-white rounded-borders q-px-lg q-mt-md q-mr-sm text-h6"
                      name="mails"
                      label="بخش نامه فروش"
                    />
                    <q-tab
                      class="shadow-5 bg-white rounded-borders q-px-lg q-mt-md q-mr-sm text-h6 "
                      name="alarms"
                      label="قوانین و مقررات"
                    />
                    <q-tab
                      class="shadow-5 bg-white rounded-borders q-px-lg q-mt-md q-mr-sm text-h6 "
                      name="movies"
                      label=" راهنمای ثبت نام و خرید"
                    />
                  </q-tabs>
                </div>
              </div>
            </div>
          </template>

          <template>
            <div
              class=" row full-width items-center justify-center q-my-lg"
              :class="$q.screen.gt.sm ? '' : 'q-px-md'"
            >
              <div class="col-xs-12 col-md-10 col-lg-8 self-start">
                <div class="row">
                  <div
                    class="col-xs-12 col-md-6 relative-position"
                    style="min-height: 250px;"
                    :class="$q.screen.gt.sm ? 'q-pr-lg' : 'q-pa-sm'"
                  >
                    <div class="border right-border top-border "></div>
                    <q-img
                      class="rounded-borders shadow-6 fit"
                      src="~assets/images/3.jpg"
                    />
                  </div>
                  <div
                    class="col-xs-12 col-md-6  rounded-border relative-position"
                    style="min-height: 250px;"
                    :class="$q.screen.gt.sm ? 'q-pl-lg' : 'q-pa-sm'"
                  >
                    <div class="border left-border  bottom-border "></div>
                    <div
                      class="q-py-lg fit text-weight-bold text-h6 shadow-6 relative-position bg-white"
                    >
                      <q-ribbon
                        position="right"
                        color="#f7f7f7"
                        background-color="#f0d50e"
                        leaf-position="bottom"
                        leaf-color="#e3bf1e"
                      >
                        پیش فروش
                      </q-ribbon>
                      <div
                        style="position: absolute; top: 15px; width: calc(100% - 145px); right: 20px;"
                      >
                        شاهین

                        <q-separator />
                      </div>
                      <div class="row q-px-lg">
                        <div class="q-pa-xs col-xs-12 col-sm-5">
                          <div>
                            <span class="text-bold">
                              مشخصات فنی :
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              حجم موتور :
                            </span>
                            <span class="text-caption">
                              1500 سی سی
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              حداکثر قدرت:
                            </span>
                            <span class="text-caption">
                              108 اسب بخار
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              مصرف سوخت:
                            </span>
                            <span class="text-caption">
                              6.8
                            </span>
                          </div>
                          <div>
                            <span class="text-bold">
                              گیر بکس:
                            </span>
                            <span class="text-caption">
                              5 سرعته دستی
                            </span>
                          </div>

                          <div>
                            <span class="text-bold">
                              وزن خالص:
                            </span>
                            <span class="text-caption">
                              1260 کیلو گرم
                            </span>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                          <span class="text-caption">
                            ثبت نام افراد زیر 18 سال امکان پذیر نمیباشد سود
                            مشارکت 15% و سود انصراف 12% قیمت نهایی خودرو به قیمت
                            روز شرکت در زمان تحویل کد پستی ثبت نام کننده و کد
                            نمایندگی انتخابی توسط مشتری می‌بایست از یک استان
                            باشد. زمان ارسال دعوتنامه مهر 99
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <template>
            <div
              class=" row full-width items-center justify-center q-my-lg "
              :class="$q.screen.gt.sm ? '' : 'q-px-md'"
            >
              <div class="col-xs-12 col-md-10 col-lg-8 self-start">
                <div class="row">
                  <div
                    class="col-xs-12 col-md-6  rounded-border relative-position"
                    style="min-height: 250px;"
                    :class="$q.screen.gt.sm ? 'q-pr-lg' : 'q-pa-sm'"
                  >
                    <div class="border right-border bottom-border"></div>
                    <div
                      class="q-py-lg fit text-weight-bold text-h6 shadow-6 relative-position bg-white"
                    >
                      <q-ribbon
                        position="left"
                        color="#f7f7f7"
                        background-color="#f0d50e"
                        leaf-position="bottom"
                        leaf-color="#e3bf1e"
                      >
                        پیش فروش
                      </q-ribbon>
                      <div
                        style="position: absolute; top: 15px; width: calc(100% - 145px); left: 20px;"
                      >
                        کوییک دنده‌ای دو رنگ (QUIK_R)
                        <q-separator />
                      </div>
                      <div class="row q-px-lg">
                        <div class="q-pa-xs col-xs-12 col-sm-5">
                          <div class="q-pt-sm">
                            <span class="text-bold">
                              مشخصات فنی :
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              حجم موتور :
                            </span>
                            <span class="text-caption">
                              1503 سی سی
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              حداکثر قدرت:
                            </span>
                            <span class="text-caption">
                              78 اسب بخار
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              مصرف سوخت:
                            </span>
                            <span class="text-caption">
                              7.2
                            </span>
                          </div>
                          <div>
                            <span class="text-bold">
                              گیر بکس:
                            </span>
                            <span class="text-caption">
                              5 سرعته دستی
                            </span>
                          </div>

                          <div>
                            <span class="text-bold">
                              وزن خالص:
                            </span>
                            <span class="text-caption">
                              1063 کیلوگرم
                            </span>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                          <span class="text-caption">
                            ثبت نام افراد زیر 18 سال امکان پذیر نمیباشد سود
                            مشارکت 15% و سود انصراف 12% قیمت نهایی خودرو به قیمت
                            روز شرکت در زمان تحویل کد پستی ثبت نام کننده و کد
                            نمایندگی انتخابی توسط مشتری می‌بایست از یک استان
                            باشد. زمان ارسال دعوتنامه مهر 99
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-xs-12 col-md-6 relative-position "
                    style="min-height: 250px;"
                    :class="$q.screen.gt.sm ? 'q-pl-lg' : 'q-pa-sm'"
                  >
                    <div class="border top-border left-border"></div>
                    <q-img
                      class="rounded-borders shadow-6 fit"
                      src="~assets/images/2.jpg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </template>
          <template>
            <div
              class=" row full-width items-center justify-center q-my-lg relative"
              :class="$q.screen.gt.sm ? '' : 'q-px-md'"
            >
              <div class="col-xs-12 col-md-10 col-lg-8 self-start">
                <div class="row">
                  <div
                    class="col-xs-12 col-md-6 relative-position"
                    style="min-height: 250px;"
                    :class="$q.screen.gt.sm ? 'q-pr-lg' : 'q-pa-sm'"
                  >
                    <div class="border right-border top-border "></div>
                    <q-img
                      class="rounded-borders shadow-6 fit"
                      src="~assets/images/4.jpg"
                    />
                  </div>
                  <div
                    class="col-xs-12 col-md-6  rounded-border relative-position "
                    style="min-height: 250px;"
                    :class="$q.screen.gt.sm ? 'q-pl-lg' : 'q-pa-sm'"
                  >
                    <div class="border left-border  bottom-border "></div>
                    <div
                      class="q-py-lg fit text-weight-bold text-h6 shadow-6 relative-position bg-white"
                    >
                      <q-ribbon
                        position="right"
                        color="#f7f7f7"
                        background-color="#f0d50e"
                        leaf-position="bottom"
                        leaf-color="#e3bf1e"
                      >
                        پیش فروش
                      </q-ribbon>
                      <div
                        style="position: absolute; top: 15px; width: calc(100% - 145px); right: 20px;"
                      >
                        ساینا S

                        <q-separator />
                      </div>
                      <div class="row q-px-lg">
                        <div class="q-pa-xs col-xs-12 col-sm-5">
                          <div>
                            <span class="text-bold">
                              مشخصات فنی :
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              حجم موتور :
                            </span>
                            <span class="text-caption">
                              1500 سی سی
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              حداکثر قدرت:
                            </span>
                            <span class="text-caption">
                              87 اسب بخار
                            </span>
                          </div>
                          <div>
                            <span class="text-bold ">
                              مصرف سوخت:
                            </span>
                            <span class="text-caption">
                              7
                            </span>
                          </div>
                          <div>
                            <span class="text-bold">
                              گیر بکس:
                            </span>
                            <span class="text-caption">
                              5 سرعته دستی
                            </span>
                          </div>

                          <div>
                            <span class="text-bold">
                              وزن خالص:
                            </span>
                            <span class="text-caption">
                              1050 کیلوگرم
                            </span>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                          <span class="text-caption">
                            ثبت نام افراد زیر 18 سال امکان پذیر نمیباشد سود
                            مشارکت 15% و سود انصراف 12% قیمت نهایی خودرو به قیمت
                            روز شرکت در زمان تحویل کد پستی ثبت نام کننده و کد
                            نمایندگی انتخابی توسط مشتری می‌بایست از یک استان
                            باشد. زمان ارسال دعوتنامه مهر 99
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <template>
            <div class="full-width bg-white relative-position">
              <!-- <div
                class="text-white bg-orange"
                style="height:50px; width:100px; position: absolute; right: 0px;top:30px"
              > -->
              <img class="right_background_img" src="~assets/images/5.png" />
              <img class="left_background_img" src="~assets/images/6.png" />
              <img class="center_background_img" src="~assets/images/7.png" />

              <!-- </div> -->
              <div
                class=" row items-center justify-center q-my-lg relative-position"
                :class="$q.screen.gt.sm ? '' : 'q-px-md'"
                style="z-index:2;"
              >
                <div class="col-xs-12 col-md-10 col-lg-8 ">
                  <div class="row justify-center">
                    <div
                      class="col-xs-12 col-md-8 col-lg-7 relative-position q-pt-lg "
                    >
                      <div class="row">
                        <div class="col-xs-12 col-sm-4">
                          <div class="text">
                            <span class=" text-bold">
                              خدمات مشتریان
                            </span>
                          </div>
                          <div class="caption">
                            <span>
                              قوانین و مقررات
                            </span>
                          </div>
                          <div class="caption">
                            <span>
                              سوالات متداول
                            </span>
                          </div>
                          <div class="caption">
                            <span class="q-pt-">
                              راهنمای خرید
                            </span>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                          <div class="text">
                            <span class=" text-bold">
                              لینک های مرتبط
                            </span>
                          </div>
                          <div class="caption">
                            <span>
                              وبسایت گروه خودرو سازی سایپا
                            </span>
                          </div>
                          <div class="caption">
                            <span>
                              ارتباط با درگاه های بانکی
                            </span>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                          <div>
                            <span class=" text-bold">
                              پشتیبانی مشتریان
                            </span>
                          </div>
                          <div class="caption">
                            <span>
                              پشتیبانی وبسایت
                            </span>
                            <span dir="rtl">
                              021-55945
                            </span>
                          </div>
                          <div class="caption">
                            <span>
                              واحد ارتباط با مشتریان سایپا
                            </span>
                            <span>
                              096550
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-5 q-pt-lg">
                      <div class="row">
                        <div class="col-xs-12 col-md-4 bg-amber">
                          ایرانی کار لگو
                        </div>

                        <div class="q-pt-sm">
                          به استناد ماده 79 قانون تجارت الکترونیکی، مصوب سال
                          1382 مجلس شورای اسلامی و ماده 37 برنامه جامع تجارت
                          الکترونیکی کشور، مصوب سال 1384 هيأت وزیران، ایجاد و
                          راه اندازی پرتال جامع خودرو کشور به منظور مرتبط نمودن
                          فعالان صنعت خودرو و ارائه اطلاعات در خصوص فناوری های
                          نوین، گرایش‌ها و سمت گیری های این صنعت در بازار جهانی
                          از سوی سازمان گسترش و نوسازی صنایع ایران به ایرانی کار
                          واگذار شد.
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-10 col-lg-12 q-pt-lg">
                      <q-separator />
                    </div>
                    <div class="col-xs-12 col-md-10 col-lg-12 q-pt-lg ">
                      <div class="row">
                        <div
                          class="col-xs-12 col-sm-6 col-md-4 column justify-center"
                        >
                          <div
                            style="display: inline-block;"
                            :class="
                              $q.screen.lt.sm ? 'text-center' : 'text-left'
                            "
                          >
                            <div class="inline-block text-center">
                              <span class="text-grey-6 text-h5 text-bold">
                                ایرانی کار|IRANeCAR
                              </span>
                              <br />
                              <div
                                class="justify-center text-center bg-grey text-white q-px-xl q-py-xs"
                                style="border-radius:5px; display:inline-block"
                              >
                                پرتال جامع خودرو کشور
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-xs-12 col-sm-6 col-md-4 text-center q-pr-lg"
                        >
                          <div
                            class="bg-amber text-center inline-block"
                            style=" border-radius: 50px;
                            width:100px;height:100px;"
                          >
                            neshan
                          </div>
                          <div
                            class="bg-amber text-center inline-block"
                            style=" border-radius: 50px;
                            width:100px;height:100px;"
                          >
                            enamad
                          </div>
                        </div>
                        <div
                          dir="rtl"
                          class="col-xs-12 col-md-4 justify-center column"
                          :class="
                            $q.screen.lt.md ? 'text-center' : 'text-right'
                          "
                        >
                          <div class="text-caption text-grey copy-right-text">
                            Copyright 2007-2020, IRANeCAR. All Rights Reserved
                            ©- V2.10.15.1
                          </div>
                          <div class="text-caption text-grey">
                            تمامی حقوق مادی و معنوی این سایت محفوظ است
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>
</template>
<script>
const menuList = [];
export default {
  data() {
    return {
      link: "inbox",
      tab: "mails",
      drawer: false,
      menuList
    };
  }
};
</script>

<style>
[dir="rtl"] .border {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
}

[dir="rtl"] .right-border {
  border-right: 3px solid orange;
  right: 20px;
}

[dir="rtl"] .top-border {
  border-top: 3px solid orange;
  top: 20px;
}

[dir="rtl"] .bottom-border {
  border-bottom: 3px solid orange;
  bottom: 20px;
}

[dir="rtl"] .left-border {
  border-left: 3px solid orange;
  left: 20px;
}
[dir="rtl"] .right_background_img {
  position: absolute;
  min-width: 240px;
  width: 28%;
  height: 170px;
  right: 0px;
  top: 40px;
  z-index: 1;
}
[dir="rtl"] .left_background_img {
  position: absolute;
  min-width: 240px;
  width: 28%;
  height: 170px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}
[dir="rtl"] .center_background_img {
  position: absolute;
  min-width: 240px;
  width: 28%;
  height: 170px;
  right: 50%;
  transform: translate(50%, 0%);
  bottom: 0px;
  z-index: 1;
}
.copy-right-text {
  font-size: 10px;
}
</style>
<style lang="sass">
.my-menu-link
  color: white
  background: #FF9800
</style>
